$color1 : black;
$color2 : tomato;
$color3 : red;
$color4 : green;
$color5 : whitesmoke;
$color6: royalblue;
$color7 : white;
$color8 : goldenrod;
$color9 : rgba(11, 148, 118, 0.767);
$color10 : rgba(79, 13, 92, 0.767);
$color11 : crimson;
$color12 : orangered;
$color13 : rgba(64, 219, 219, 0.767);
$color14 : yellowgreen;
$color15 : rgba(70, 10, 233, 0.767);
$color16 : rgba(21, 30, 146, 0.767);
$color17 : rgba(31, 8, 240, 0.767);
$color18 : yellow;
$color19 : darkblue;
$color20 : #DB3D68;
$color21 : #79ace9;
$color22 : #0a0;
$color23 : #a00;