$text-align : center;
$borderSpace : revert;
$tabBorder : 1px solid;
$btnBorder : 2px solid;
$btnRadius : 10px;
$btnTransition : 2s;
$inputStyle : oblique;
$display : inline-flex;
$height : 200px;
$backgroundSize : cover;
$outline : 0;
$fontSize : 14px;